{% extends 'template.html' %}
{% block content %}

<div class="container">
<br>

{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong class="text-dark">{{ message }}</strong>  
</div>
{% endfor %}
{% endif %}
<div class="header">
    <h2>Cryptocurrency</h2>
</div>
<br>
<table id="example" class="table display">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Porcentaje de cambio (24h)</th>
        <th>Fecha </th>
        <th>Acciones</th>    
      </tr>
    </thead>
    <tbody>
      {% for coin in cryptocurrencys %}
     
        <tr>
            <td>{{coin.cmc_rank}}</td>
            <td>{{coin.name}}</td>
            <td>${{coin.price}}</td>
            <td>{{coin.percent_change_24h}}%</td>
            <td>{{coin.created_at}}</td>
            <td><a href={% url 'getCoin' coin.id %} class="btn btn-light" >Ver</a>
             <a href="{% url 'favorite' coin.id %}" class="btn btn-info">Agregar</a>
            </td>

          </tr>

     {% endfor %}
      
    </tbody>
  </table>
 <br>
</div>
{% endblock %}